{% load static %}
<!doctype html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <title>GUTI !</title>
  <meta name='author' content='Luciano'>
  <meta name="description" content='An ideal tool to "install" conjugation into yourself.'>
  <meta name="keywords" content='conjugation,動詞活用'>
  <meta name="viewport" content="width=device-width, initial-scale=1">




  <link rel="stylesheet" type="text/css" href={% static 'french/css/bootstrap.min.css' %} />
  <link rel="stylesheet" type="text/css" href={% static 'french/css/custom.css' %} />



</head>

<body>

  <div class="jumbotron">
    <div class="container-fluid">
      <h1 class="display-4">GUTI !</h1>
      <hr class="my-1">
      <p>
      <h5>An ideal tool to "install" verb conjugation into yourself.</h5>
      </p>
    </div>
  </div>


  <div class="container-fluid">

    <p>
    <h4><strong>G</strong>et <strong>U</strong>sed <strong>T</strong>o <strong>I</strong>t rather than learn<strong>!</strong> </h4>
    </p>

    <p>The name of this site "GUTI !" comes from this proverb.</p>

    <p>
      One of the difficulties in studying foreign languages is the verb conjugation.
      How the native speakers have obtained that of their native language ?
      They did't "learn" it. They just "get used to it". In other words, they have "installed" it naturally through countless times of experiences.<br>
    </p>

    <p>
    <h5><strong>We provide you an ideal tool to simulate that.</strong></h5>
    </p>

    <p>Q&As of a verb are provided randomlly, according to the conditions you set (i.e. level of conjugation/mode/tense). Verbs are attentivelly selected (see "List" page) to cover almost all types of conjugation.</p>

    <p>Then all you have to do is just practicing it over and over again to "install" it into yourself. At anytime & anywhere, to your best satisfaction.</p>

  </div>

  <hr>

  <div class="container-sm">
    <p>
    <h5>How to use:</h5><br>

    <ol>
      <li>Click the flag of the language you'd like to practice. </li>
      <li>Before starting practice, don't forget to check conditions you'd like to try, on the lower section of the page.</li>
      <li>Then, start your practice !! </li>
      <li>For the next question, just click "Question" button again.</li>
      <li>You can change the conditions at anytime you want, by checking/unchecking each check box. </li>
      <li>To know which types & verbs are included in each level, go to "List" page via Navigation Bar. </li>
    </ol>
  </div>

  <hr>

  <div class="container-sm">
    <p>
    <h5>Now available :</h5>
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="d-flex row align-items-center" style="height:80px">
        <div class="col">
          <a href="french/main_fr"><img src="static/home/images/frenchFrag.gif" alt="FrenchFrag"></a>
        </div>
      </div>
    </div>

    <hr>

    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        (links)
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>


<footer class="footer mt-auto py-3 bg-light" >
  <div class="container text-right">
    <small>&copy; Copyright 2021 Luciano</small>
  </div>
</footer>
