{% load static %}
<!doctype html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href={% static 'french/css/bootstrap.min.css' %} />
  <link rel="stylesheet" type="text/css" href={% static 'french/css/custom.css' %} />



</head>

<body>

  <div class="jumbotron">
    <div class="container-fluid">
      <h1 class="display-5">GUTI !</h1>
      <hr class="my-1">
      <p>
      <h5>An ideal tool to "install" conjugation into yourself.</h5>
      </p>
    </div>
  </div>


  <div class="container-fluid">

    <p><h4>Get Used To It rather than learn! </h4></p>

    <p>The name of this site "GUTI !" comes from this proverb.</p>

    <p>
      One of the difficulties in learning a foreign language is the verb conjugation.<br>
      How the native speakers have obtained that of their native language ?<br>
      Thet did't "learn" it.  They just "get used to it". In other words, they have "installed" it naturally through countless times of experiences.<br>
    </p>

    <p>We provide you an ideal tool to simulate that.</p>

    <p>Q&As of a verb are provided randomlly, according to the conditions you set (i.e. level of words/mode/tense). Verbs are attentivelly selected (see "List" page) to cover almost all types of conjugation.</p>

    <p>Then all you have to do is just practicing it over and over again to "install" it into yourself. At anytime & anywhere. To your best satisfaction.</p>

  </div>


  <div class="container-sm">
    <p>
    <h5>How to use:</h5><br>
  </div>

  <div class="container-sm">
    <ol>
      <li>Click the flag of the language you'd like to practice. </li>
      <li>This leads you to "Set" page of the language you chose.</li>
      <li>Check conditions you'd like to practice, then click "Set" button.</li>
      <li>Go to "Practice" page by clicking "Practice" on Navigation Bar. </li>
      <li>Then, start your practice !! </li>
      <li>For the next question, just click "Question" button again.</li>
      <li>When you want to change conditions, go to "Set" page via Navigation Bar and go back to #3 above. </li>
    </ol><br>
  </div>

  <div class="container-sm">
    <p>
    <h5>Now available :</h5>
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="d-flex row align-items-center" style="height:80px">
        <div class="col">
          <a href="french/set_fr"><img src="static/home/images/frenchFrag.gif" alt="FrenchFrag"></a>
        </div>
      </div>
    </div>

</body>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">© 2020 Luciano</span>
  </div>
</footer>
