
.jumbotron-extend {
    position: relative;
    padding: 2rem 0rem;
    margin-bottom: 0rem;
    height: 15vh;
    min-height: 30px;
    background: url(../images/bread-2588182_1920.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 15%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 0px;
    color: #F8F9F9;
    text-align: center;
    text-align: middle;
}

.btn-french-blue {
  color: #fff;
  background-color: #00249C;
  border-color: #007bff;
}

.btn-french-red {
  color: #fff;
  background-color: #EF3340;
  border-color: #EF3340;
}

.answer {
    margin-bottom: 0px;
    font-family: 'Bradley Hand', 'Segoe Print',serif;
    text-align: center
}

div.container-fluid {
  margin-top: 5px;
}



.french-blue {
  color: #00249C;
}


body {
font-family: 'klee','Papyrus','Segoe UI',sans-serif;
}
