
.jumbotron-extend {
    position: relative;
    padding: 2rem 0rem;
    margin-bottom: 0rem;
    height: 20vh;
    min-height: 20px;
    background: url(../images/bread-2588182_1920.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 90%;
    transform: translateY(-50%);
}

.site-name {
    margin-bottom: 0px;
    font-family: 'klee', serif;
    color: #F8F9F9;
    text-align: center
}

.btn-french-blue {
  color: #fff;
  background-color: #00249C;
  border-color: #007bff;
}

.btn-french-red {
  color: #fff;
  background-color: #EF3340;
  border-color: #EF3340;
}

.answer {
    margin-bottom: 0px;
    font-family: 'Bradley Hand', serif;
    text-align: center
}

div.container-fluid {
  margin-top: 5px;
}





body {
font-family: 'klee','Segoe UI','EuphemiaUCAS','Avenir Next','Optima','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴシック',sans-serif
}
