{% load static %}
<!doctype html>
<html lang="fr">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-20DKMERV53"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-20DKMERV53');
  </script>

  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href={% static 'french/css/normalize.css' %} />
  <link rel="stylesheet" type="text/css" href={% static 'french/css/bootstrap.min.css' %} />
  <link rel="stylesheet" type="text/css" href={% static 'french/css/custom.css' %} />




</head>

<body>


  <!-- ヘッダ/Nav-Bar -->

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GUTI ! Français</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="../main_fr">Practice</a>
        </li>

        </li>


        <li class="nav-item active">
          <a class="nav-link" href="#">List <span class="sr-only">(current)</span></a>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/.">Home</a>
        </li>

      </ul>

    </div>
  </nav>





  <div class="container-fluid">

    <table class="table table-sm table-hover ">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Modèle</th>
          <th scope="col">Verbes</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">-ER</th>
          <td>(1)</td>
          <td>PARLER</td>
          <td>parler</td>
          <td>donner</td>
        </tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td>passer</td>
        <td>se trouver</td>
        </tr>
        </tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td>laisser</td>
        <td>penser</td>
        </tr>
        </tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td>chercher</td>
        <td>demander</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(2)</td>
          <td>MANGER</td>
          <td>manger</td>
          <td>changer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>APPLER</td>
          <td>s'appeler</td>
          <td>renouveler</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ESPÉRER</td>
          <td>espérer</td>
          <td>considérer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>PAYER</td>
          <td>payer</td>
          <td>essayer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>COMMENCER</td>
          <td>commencer</td>
          <td>exercer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>LEVER</td>
          <td>lever</td>
          <td>élever</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>JETER</td>
          <td>jeter</td>
          <td>rejeter</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ACHETER</td>
          <td>acheter</td>
          <td>racheter</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ENVOYER</td>
          <td>envoyer</td>
          <td>renvoyer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>MENER</td>
          <td>mener</td>
          <td>se promener</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(3)</td>
          <td>PROTÉGER</td>
          <td>protéger</td>
          <td>piéger</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RÉPÉTER</td>
          <td>répéter</td>
          <td>interpréter</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RÉGLER</td>
          <td>régler</td>
          <td>dérégler</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>PROCÉDER</td>
          <td>procéder</td>
          <td>posséder</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RÉVÉLER</td>
          <td>révéler</td>
          <td>corréler</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>PESER</td>
          <td>peser</td>
          <td>soupeser</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>DÉCELER</td>
          <td>déceler</td>
          <td>modeler</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>INTÉGRER</td>
          <td>intégrer</td>
          <td>réintégrer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RÉGNER</td>
          <td>régner</td>
          <td>imprégner</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>SÉCHER</td>
          <td>sécher</td>
          <td>lécher</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>CÉLÉBRER</td>
          <td>célébrer</td>
          <td>concélébrer</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RÉSULTER</td>
          <td>résulter</td>
          <td>incomber</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>SEMER</td>
          <td>semer</td>
          <td>parsemer</td>
        </tr>
        <tr>
          <th scope="row">-IR</th>
          <td>(1)</td>
          <td>VOIR</td>
          <td>voir</td>
          <td>revoir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>PARTIR</td>
          <td>partir</td>
          <td>sortir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td>sentir</td>
          <td>mentirr</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>VENIR</td>
          <td>venir</td>
          <td>tenir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td>se souvenir</td>
          <td>devenir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>FINIR</td>
          <td>finir</td>
          <td>choisir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td>fournir</td>
          <td>réfléchir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(2)</td>
          <td>SERVIR</td>
          <td>servir</td>
          <td>resservir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>DORMIR</td>
          <td>dormir</td>
          <td>endormir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RECEVOIR</td>
          <td>recevoir</td>
          <td>s'apercevoir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>COURIR</td>
          <td>courir</td>
          <td>parcourir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>OFFRIR</td>
          <td>offrir</td>
          <td>s'ouvrir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(3)</td>
          <td>ACQUÉRIR</td>
          <td>acquérir</td>
          <td>conquérir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ACCUEILLIR</td>
          <td>accueillir</td>
          <td>recueillir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>VALOIR</td>
          <td>valoir</td>
          <td>équivaloir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>POURVOIR</td>
          <td>pourvoir</td>
          <td>dépourvoir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ÉMOUVOIR</td>
          <td>émouvoir</td>
          <td>promouvoir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>VÊTIR</td>
          <td>vêtir</td>
          <td>revêtir</td>
        </tr>
        <tr>
          <th scope="row">-RE</th>
          <td>(1)</td>
          <td>FAIRE</td>
          <td>faire</td>
          <td>satisfaire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>DIRE</td>
          <td>dire</td>
          <td>redire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>PRENDRE</td>
          <td>prendre</td>
          <td>comprendre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>METTRE</td>
          <td>mettre</td>
          <td>se permettre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ATTENDRE</td>
          <td>attendre</td>
          <td>rendre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(2)</td>
          <td>VIVRE</td>
          <td>vivre</td>
          <td>survivre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ÉCRIR</td>
          <td>écrire</td>
          <td>s'inscrire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>CONNAÎTRE</td>
          <td>connaître</td>
          <td>paraître</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ATTEINDRE</td>
          <td>atteindre</td>
          <td>craindre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>RIRE</td>
          <td>rire</td>
          <td>sourire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>LIRE</td>
          <td>lire</td>
          <td>élire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>SUIVRE</td>
          <td>suivre</td>
          <td>poursuivre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>BATTRE</td>
          <td>se battre</td>
          <td>combattre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>CONDUIRE</td>
          <td>conduire</td>
          <td>construire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(3)</td>
          <td>RÉSOUDRE</td>
          <td>résoudre</td>
          <td>soudre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>NAÎTRE</td>
          <td>naître</td>
          <td>renaître</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>CONCLURE</td>
          <td>conclure</td>
          <td>exclure</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ROMPRE</td>
          <td>rompre</td>
          <td>interrompre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>PLAIRE</td>
          <td>plaire</td>
          <td>déplaire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>VAINCRE</td>
          <td>vaincre</td>
          <td>convaincre</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>DISTRAIRE</td>
          <td>distraire</td>
          <td>extraire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>INTERDIRE</td>
          <td>interdire</td>
          <td>contredire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>CROÎTRE</td>
          <td>croître</td>
          <td>accroître</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>ABSOUDRE</td>
          <td>absoudre</td>
          <td>dissoudre</td>
        </tr>
        <tr>
          <th scope="row">Illéguliers</th>
          <td>(1)</td>
          <td>être</td>
          <td>avoir</td>
          <td>aller</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(2)</td>
          <td>pouvoir</td>
          <td>vouloir</td>
          <td>devoir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>falloir</td>
          <td>savoir</td>
          <td>croire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>mourir</td>
          <td>boire</td>
          <td>s'asseoir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>(3)</td>
          <td>prévoir</td>
          <td>vouloir</td>
          <td>suffire</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>coudre</td>
          <td>choir</td>
          <td>prévaloir</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>se taire</td>
          <td>hair</td>
          <td>foutre</td>
        </tr>


      </tbody>
    </table>

  </div>





</body>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-right">
    <small>&copy; Copyright 2021 Luciano</small>
  </div>
</footer>
